<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
      <div class="logo-container">
        <img src="assets/images/logos/Logo1.png" alt="Logo">
      </div>
      <div class="login-container mt-6">
        <form action="">
          <h1>Sign In</h1>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <div class="link-container">
            <a >Forgot your password?</a>
            <a  routerLink="../login" class="signup">Login In</a>
          </div>
          <button routerLink="../upload">Sign In</button>
        </form>
      </div>
      <div class="image-container">
        <img src="assets/images/users/AskJake.png" alt="Image">
      </div>
    </div>
  </div>
  