<nav class="navbar navbar-expand-lg navbar-dark dark:bg-slate-800">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logos/Logo1.png" alt="Website Symbol" width="70" height="40" class="d-inline-block ml-3 align-top">
    </a>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a routerLink="../upload" class="nav-link">
                <span class="fa fa-home mr-1 text-white"></span> Home
            </a>
        </li>
        <li class="nav-item active">
            <a routerLink="../upload" class="nav-link">
                <span class="fa fa-bars mr-1 text-white"></span> Menu
            </a>
        </li>
        <li class="nav-item active">
            <a routerLink="../chat" class="nav-link">
                <span class="fa fa-robot mr-1 text-white"></span> Chatbot
            </a>
        </li>
        <li class="nav-item active">
            <a routerLink="../chat" class="nav-link">
                <span class="fa fa-cog mr-1 text-white"></span> Settings
            </a>
        </li>
    </ul>
    

</nav>



<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-3 col-md-6 col-lg-2 ml-4 mt-3">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-primary" (click)="clearChat()">Create New</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-6 col-lg-6 mt-3">
    <!-- Second container with increased height and width -->
    <div class="card h-100">
        <div class="card-body">
            <div class="chat-container" style="height: 520px; overflow-y: auto; margin-bottom: 60px;">
                <!-- User Chat -->
                <ng-container *ngFor="let message of messages">
                    <div class="media flex items-end justify-end" *ngIf="message.author === 'user'">
                        <div class="media-body flex flex-col space-y-2 text-sm max-w-m mx-2 order-1 items-end font-medium mb-6">
                            <img src="assets/images/users/user.png" class="mr-3" alt="User Avatar" width="50"
                                height="50">
                            <p class="user-message px-4 py-2 rounded-lg inline-block rounded-bl-none border border-gray-100 bg-gray-50 text-gray-600 dark:border-slate-800 dark:bg-slate-700 dark:text-slate-400"
                                style="max-width: 400px;">
                                {{ message.content }}
                            </p>
                        </div>
                    </div>

                    <!-- Bot Chat -->
                    <div class="media" *ngIf="message.author === 'bot'">
                        <img src="assets/images/users/bot.png" class="mr-3" alt="Bot Avatar" width="50"
                            height="50">
                        <div class="media-body flex flex-col space-y-2 text-sm max-w-m mx-2 order-2 items-start font-medium">
                            <p class="bot-message px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-500 text-white"
                                style="max-width: 400px;">
                                {{ message.des }}
                            </p>
                            <div class="text-right" *ngIf="message.author === 'bot'">
                                <button class="btn btn-sm btn-link text-success"><i
                                        class="fas fa-thumbs-up"></i></button>
                                <button class="btn btn-sm btn-link text-danger"><i
                                        class="fas fa-thumbs-down"></i></button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="input-group position-absolute  bottom-0 start-0 end-0">
                <input [(ngModel)]="newMessageText" type="text" (keyup.enter)="sendMessage()"
                    class="form-control" placeholder="Type your message...">
                <button class="btn btn-primary" type="button" (click)="sendMessage()">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>

        </div>
    </div>
</div>

        
     
        
    </div>
</div>